<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--
    th:remove的值如下:
    　　1.all:删除包含标签和所有的孩子。
    　　2.body:不包含标记删除,但删除其所有的孩子。
    　　3.tag:包含标记的删除,但不删除它的孩子。
    　　4.all-but-first:删除所有包含标签的孩子,除了第一个。
    　　5.none:什么也不做。这个值是有用的动态评估。
    -->
    <p th:replace="common::baseConfig" th:remove="tag"></p>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{'/css/emp/list.css'}"/>
    <title>thymeleaf Example - 员工列表</title>
</head>
<body>
<div class="layui-container">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>员工列表</legend>
    </fieldset>
    <div class="layui-btn-container">
        <a th:href="@{'/emp/emp'}" class="layui-btn layui-btn-lg">添加员工</a>
    </div>
    <table class="layui-table">
        <colgroup>
            <col width="80">
            <col>
            <col>
            <col>
            <col>
            <col width="180">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>员工编号</th>
            <th>员工名称</th>
            <th>年龄</th>
            <th>入职时间</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp, empstate:${list}">
            <td th:text="${empstate.index}"></td>
            <td th:text="${emp.empno}"></td>
            <td th:text="${emp.ename}"></td>
            <td th:text="${emp.age}"></td>
            <td th:text="${emp.hiredate}"></td>
            <td>
                <a th:href="@{'/emp/emp?empno=' + ${emp.empno}}" class="layui-btn layui-btn-xs">修改</a>
                <a th:href="@{'/emp/del?empno=' + ${emp.empno}}" class="layui-btn layui-btn-xs">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--
        th:replace 会替换掉当前标签及其子标签的所有信息;
        th:include 只会替换当前标签的子标签的信息;
    -->
    <div class="layui-row">
        <p th:insert="common">123123</p>
    </div>
    <div class="layui-row" th:include="::test"></div>
    <div class="layui-row" th:replace="common"></div>
</div>
<div th:fragment="test">
    <p>测试文字</p>
</div>
</body>
</html>