<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/list.css}" />
    <title>用户列表</title>
</head>
<body>
<h2>用户列表</h2>
<div>
    <ul>
        <li th:each="user:${users}">
            <span th:text="${user.ids}">srtygrsegfhsreghr</span>-
            <span th:text="${user.uname}"></span>-
            <span th:text="${user.rname}"></span>-
            <span th:text="${user.createtime}"></span>
        </li>
    </ul>
</div>
<a th:href="${url}">百度</a>
<br>
<img th:src="@{/Wrapper结构.png}" alt="" />
<span th:text="*{url}"></span>
</body>
</html>